/*I tried to make this CSS file work so that my main page would be formatted
correctly but I couldn't get it to work so I just left here.
Name: Symari Butts*/
    header h1 {
        font-weight: bold;
        font-size: 50px;
        text-shadow: 1px 1px 1px tan, 2px 2px 1px tan; /*might change later*/
        text-align: center;
      }
  
      body {
        width: 100%;
        margin: 0 auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        background-color: black;
      }
  
      p {
        font-size: 1.5rem;
        padding-right: 2%;
        padding-left: 2%;
      }
  
      nav li {
        background-color: tan;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        text-align: center;
      }
  
      nav a {
        color: white;
        font-weight: normal;
        font-size: 150%;
        text-decoration: none;
        background-color: rgb(92, 56, 10);
        text-align: center;
        height: 60%;
        width: 100%;
        
      }
  
      ul {
        list-style: none;
      }
  
      main {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
      }
  
  
      .mainBody {
        width: 80%;
        height: 100%;
      }

      @media screen and (max-width: 200px) {
        .fourPages {
          width: 100%;
          height: 20%;
        } 
        nav li {
        background-color: tan;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
        text-align: center;
        }
        
      }

      /*Websites I used for this project*/
      /*https://www.cnn.com/interactive/2021/02/us/little-known-black-history-figures/*/
      /*https://www.rd.com/list/black-americans-you-didnt-learn-about/*/
      /*https://6abc.com/black-history-month-notable-african-americans-most-influential-famous-people/12781596/*/
      /*https://www.sciencehistory.org/historical-profile/marie-maynard-daly*/


  
      
      
      